@charset "utf-8";

.j_book_ticket{
    margin-bottom: 50px;
}
/* 가격선택 */
.j_pay{
    border-bottom: 1px solid var(--lineColor);

}
.j_pay_name{
    border-top: 1px solid var(--lineColor);
    border-bottom: 1px solid var(--lineColor);
    padding: 10px;
}
.j_pay_basis{
    margin: 15px;
}
.j_flex{
    display: flex;
    justify-content: space-between;
}
.j_txt_big{
    font-size: 16px;
    font-weight: 700;
}
.j_pay_number{
    margin: 10px;
    border: 1px solid var(--lineColor); 
    width: 120px; height: 50px; 
    border-radius: 4px;
    text-align: center;
}
.j_number_txt{
    padding:10px 15px;
}
.j_btn{
    border-radius: 4px;
    padding:10px;
}
.j_btn_left{
    border-right: 1px solid var(--lineColor); 
    height: 50px;
}
.j_btn_right{
    border-left: 1px solid var(--lineColor); 
    height: 50px;
}
.basis_deal{
    border-bottom: 1px solid var(--lineColor);
}
/* coupon */
.j_pay_coupon{
    display: flex;
    padding: 20px 10px;
    color: var(--lightColor);
}
.j_pay_coupon>img{
    width: 15px; height: 15px;
    margin-left: 80px;
    margin-top: 3px;
}
/* radio */
.j_receive_area{
    border-bottom: 1px solid var(--lineColor);
    padding-bottom: 20px;
}
.j_receive_area>p{
    padding: 10px;
}
.j_form_wrap{
    display: flex;
    margin-top: 20px;
    
}
#j_ra{
    accent-color: var(--mainColor);
    margin-left: 20px;
    margin-right: 10px;
}
/* price */
.j_price_area{
    margin: 10px;
}
.j_mt{
    padding-top: 10px;
}
.j_box{
    border: 1px solid var(--lineColor);
    border-radius: 20px;
    width: 135px; height: 30px;
    padding-right: 10px;
    padding-top: 5px;
    text-align: right;
    margin: 3px;
}
.j_final_price{
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--mainColor);
    border-radius: 20px;
    padding: 20px;
    margin-top: 30px;
}
/* button */
.j_btn_area{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.j_btn_b{
    width: 120px; height: 50px;
    border: 1px solid var(--lineColor);
    border-radius: 20px;
    text-align: center;
    padding-top: 15px;
}
.j_btn_n{
    width: 120px; height: 50px;
    border: 1px solid var(--mainColor);
    border-radius: 20px;
    text-align: center;
    padding-top: 15px;
}
  /* top */
.j_book_top{
    display: flex;
    margin: 50px auto;
}
.j_book_top>h1{
    font-size: 20px;
    margin: 0  auto;
    padding-right: 12px;
}
.j_select{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--lineColor);
    line-height: 3;
    padding: 2px 20px;
}
.j_select img{
    width: 10px;
}
.j_sc{
    font-size: 16px;
    text-align: center;
    margin: 50px 0;
}

