@charset "utf-8";

html{
    --mainColor:#e40030;
    --textColor:#000;
    --lightColor:#616161;
    --menuTextColor:#a4a4a4;
    --lineColor:#d9d9d9;
  }
  .bgcolor_r{background: var(--mainColor);}
  .color_b{color: var(--textColor);}
  .color_r{color:var(--mainColor);}
  .color_g{color: var(--lightColor);}
  .color_lg{color: var(--menuTextColor);}
  .txt_b{font-family: 'NanumBarunGothicBold';}
  *{margin: 0; padding: 0;}
  *,*::after,*::before{box-sizing: border-box;}
  a,span{display: inline-block; color: inherit;}
  .mt30{
    margin-top: 30px;
  }
  .mb10{
    margin-bottom: 10px;
  }
  .mb5{
    margin-bottom: 5px;
  }



.j_subtit>h1{
    padding: 50px 0 30px;
    text-align: center;
    font-size: 20px;
}

/* lnb */
.j_3depth{
    position: relative;
    border: 1px solid var(--lineColor);
    border-radius: 10px;
    width: 200px; height: 40px;
    text-align: center;
    padding-top: 5px;
  }
  .j_3depth_menu li{border-bottom: 1px solid var(--lineColor);}
  .j_3depth_menu li:last-child{border-bottom: none;}
  .j_icon_arrow{
    width: 10px;
    position: absolute;
    top: 10px; right: 10px;
  }
  .j_btn_3depth{
    display: block;
    overflow-y: auto;
    padding-top: 5px;
  }
  .j_3depth_menu{
    width: 200px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid var(--lineColor);
    padding: 10px;
    position: absolute;
    left: 0; bottom: -310px;
    display: none;
    z-index: 999;
  }
  .j_3depth_menu li a{
    line-height: 1.8;
    display: block;
    padding: 5px 0;
  }
  .j_3depth_list{
    background: #fff;
  }
  .j_3depth.down .j_3depth_menu{
    display: block;
  }
  .j_3depth.down .j_icon_arrow{
    transform: rotate(180deg);
    margin-top: -3px;
  }

/* 내용 */
.j_right{
  text-align: right;
  margin: 50px 0 30px;
}
.redarr{
  margin-left: 5px;
}

/* arrow */
.j_arrowq{
display: block;
width: 10px; height: 10px;
border-right: 1px solid #2d2d2d;
border-bottom: 1px solid #2d2d2d;
transform: rotate(45deg);
transition: 0.3s;
margin-top: 13px;
}
.j_arrowqq{
  display: block;
  width: 10px; height: 10px;
  border-right: 1px solid #2d2d2d;
  border-bottom: 1px solid #2d2d2d;
  transform: rotate(45deg);
  transition: 0.3s;
  margin-top: 13px;
  }
.j_titq.active .j_arrowq{
 transform: rotate(-135deg);
 margin-top: 18px;
}
.j_lnbq{
display: none;
}
.j_question{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--lineColor);
  line-height: 3;
  padding: 2px 10px;
  margin-bottom: 20px;
}
.j_answer{
  padding: 20px;
  border-bottom: 1px solid var(--lineColor);
  line-height: 2;
}
.j_faq{
  margin-bottom: 20px;
}
  /* 더보기 */
  .j_more{
    text-align: center;
    color: #b4b4b4;
}
.j_more img{
    width: 14px; 
    margin-left: 10px;
    transform: translateY(3px);
}
