@charset "utf-8";

/* 웹폰트 호출 */
@import url("https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css");

.h_visual{
  padding-top: 20px;
}
.swiper-slide img{
    border-radius: 6px;
}
.h_pack{
  font-size: 16px;
  padding-top: 50px;
  display: flex;
  align-items: center;
}
.h_square{
  width: 6px; height: 15px;
  background: #e40030;
}
.h_tit{
  padding-left: 10px;
}
.h_pack_way{
    font-size: 16px;
    padding-top: 50px;
    display: flex;
    align-items: center;
}
.h_pack_icon{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-left: 30px;
    text-align: center;
    align-items:baseline;
}
.h_pack_icon2{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-left: 30px;
    text-align: center;
}
input[type='radio'] {
  flex-shrink:0;
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none; 
  width: 13px;
  height: 13px;
  border: 1px solid #ccc; 
  border-radius: 50%;
  outline: none; 
  cursor: pointer;
}
input[type='radio']:checked {
  background-color: #e40030; 
  border: 3px solid #fff; 
  box-shadow: 0 0 0 1px #e40030;
}
#h_form_wrap{
  display: flex;
  justify-content: right;
  margin: 50px 0 0px;
  align-items: center;
}
#h_ra{
  margin-left: 20px;
  margin-right: 10px;
}
.pack_main{
  margin-top: 30px;
  width: 100%; 
  height: auto;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
 
}
.pack_pic_main img{
  display: block;
  width: 30%;
  margin: 10px auto;
}
.h_contents{
  text-align: center;
  word-break: keep-all;
  padding: 20px 20px;
}
.pack_pic{
 padding: 0 10px;
}
.pack_list li{
  padding-top: 50px;
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
}
.h_pack_con p{
  padding-top: 16px;
  padding-bottom: 6px;
  font-size: 16px;
  font-weight: bold;
}
.h__con2{
  color: #616161;
  
}
.h_pack_con2{
  margin-bottom: 20px;
}

#footer{
  height: 300px;
  font-size: 12px;
  color: var(--lightColor);
}
.footer_menu{
  display: flex;
  padding-top: 25px;
}

.family_list{
  height:200px;
  
}
.bar{
  border-right: 1px solid var(--lineColor);
  height: 10px;
  margin-right: 10px;
  margin-top: 4px;
}
.footer_in{
  position: relative;
}
.social{
  position: absolute;
  top: 25px; right: 0;
}
.social>a{
  margin-left: 15px;
}
.family_site{
  border: 1px dotted dodgerblue;
  position: relative;
  height: 30px;
  border: 1px solid var(--lineColor);
  border-radius: 10px;
  margin: 20px 0 ;
  padding-left: 10px;
  width: 240px;
}
.family_site li{border-bottom: 1px solid var(--lineColor);}
.family_site li:last-child{border-bottom: none;}
.icon_arrow{
  width: 10px;
  position: absolute;
  top: 3px; right: 10px;
  padding-top: 3px;
}
.btn_family{
  display: block;
  overflow-y: auto;
  padding-top: 5px;
}
.family_menu{
  width: 240px;
  height: 190px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid var(--lineColor);
  padding: 10px;
  position: absolute;
  left: 0; bottom: -192px;
  display: none;
}
.family_menu li a{
  line-height: 1.2;
  display: block;
  padding: 5px 0;
}
.copy{
  padding-top: 30px;
  margin-bottom: 30px;
}
.family_site.open .family_menu{
  display: block;
}
.family_site.open .icon_arrow{
  transform: rotate(180deg);
  margin-top: -3px;
}
